<nav class="navbar navbar-expand-lg navbar-dark menuBox">
    <a class="navbar-brand" href="/">
        Aptum Gestão
    </a>

    <ul class="navbar-nav mr-auto">
        <!--
        <li class="nav-item">
            <a  class="nav-link" href="#">Financeiro</a>
        </li>
        -->
        <li class="nav-item">
            <a  class="nav-link" href="/orcamentos">Orçamentos</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/fornecedores">Fornecedores</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/produtos">Produtos</a>
        </li>
        <!--
        <li class="nav-item">
            <a  class="nav-link" href="/estoques">Estoques</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/estoqueMovimentacoes">Movimentações de Estoques</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/compras">Compras</a>
        </li>
        -->
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a  class="nav-link" href="/admin/users">Usuários</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>

</nav>