
html {
    height: 100%;
    
}
body {
    min-height: 100%;
    background: rgb(58, 58, 110);/* turquoise; */
    margin-bottom: 5%;
}

h2 {
    font-size:bold;
}

.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px 40px;
    width: 350px;
    height: 450px;
    box-sizing: border-box;
    background:rgba(0, 0, 0, .5);
    border-radius: 3%;
}

.loginBox input{
    width:100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#fff;
}

::placeholder{
    color: rgba(255, 255, 255, .5);
}


.loginText{
    margin: 0;
    padding:0 0 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.labelText{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.cardBody{
    background:rgba(0, 0, 0, .5);
}

.menuBox{
    background:rgba(0, 0, 0, .5);
}

.footerAll{
    text-align:center;
    color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    margin-top:30px;
    background:rgba(0, 0, 0, .5);
    position: fixed;
    bottom:0;
}

.footerAll a:link, a:visited {
    color: white;
}
  
.footerAll a:link:active, a:visited:active {
    color: red;
}