<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<br>
<br>
<hr>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Cadastro de Produtos</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/produtos/save">
                <input class="form-control" type="text" name="produto" placeholder="Defina o nome do produto"><br>
                <input class="form-control" type="number" min="0" step="any" name="valor" placeholder="Defina um valor"><br>
                <button class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')%>