<%- include ('../../partials/header.ejs')%>

<body>
    <div class="loginBox">
        <h2 class="loginText">Login</h2>
        <form action="/authenticate" method="POST">
            <p class="labelText">E-Mail</p>
            <input name="email" type="text" placeholder="email@exemplo.com"><br>
            <p class="labelText">Senha</p>
            <input name="password" type="password" placeholder="***********"><br>
            <button type="submit" class="btn btn-success btn-block">Entrar</button>
        </form>
    </div>
</body>

<%- include ('../../partials/footer.ejs')%>

