<%- include ('../../partials/header.ejs')%>

<body>
    <div class="loginBox">
        <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
                <img src="../../../public/img/user.png" class="brand_logo" alt="Logo">
            </div>
        </div>
        <h2 class="loginText">Impresso.com</h2>
        <form action="/authenticate" method="POST">
            <p class="labelText">E-Mail</p>
            <input name="email" type="text" placeholder="email@exemplo.com"><br>
            <p class="labelText">Senha</p>
            <input name="password" type="password" placeholder="***********"><br>
            <button type="submit" class="btn btnBlue btn-block">Entrar</button>
        </form>
    </div>
</body>

<%- include ('../../partials/footer.ejs')%>

