<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<br>
<div class="dist">
    <a class="btn btn-info" href="/clientes">Voltar</a>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-dark">
            <h2>Cadastro de Clientes</h2>
        </div>
        <div class="card-body bg-gray">
            <form method="POST" action="/clientes/save">
                <label>Nome do Cliente</label>
                <input class="form-control" type="text" name="nome" placeholder="Defina o nome do cliente" required><br>
                <label>CPF</label>
                <input class="form-control" type="text" name="cpf" placeholder="Preencha com o CPF"><br>
                <label>CNPJ</label>
                <input class="form-control" type="text" name="cnpj" placeholder="Preencha com o CNPJ"><br>
                <label>Telefone 1</label><br>
                <input class="form-control" type="tel" name="telefone1" placeholder="Preencha com o telefone 1" required><br>
                <label>Telefone 2</label><br>
                <input class="form-control" type="tel" name="telefone2" placeholder="Preencha com o telefone 2"><br>
                <label>E-mail</label><br>
                <input class="form-control" type="email" name="email" placeholder="Preencha com o e-mail"><br>
                <label>Endereço</label><br>
                <input class="form-control" type="text" name="endereco" placeholder="Preencha o endereço"><br>
                <label>Número</label><br>
                <input class="form-control" type="number" name="numero" placeholder="Preencha o número do endereço"><br>
                
                <button class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')%></form>