<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<br>
<br>
<hr>
<div class="container">
    <hr>
    <h2>Produtos em Compra</h2>

    <hr>
    <table id="compra-item" class="table table-bordered">
        <thead>
            
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs')%>
