body {
  margin: 0;
  padding: 0;
  background-image: url(../../assets/background-login.jpg);
  background-size: cover;
}

.logon-container {
  width: 320px;
  height: 420px;
  border: 1px solid #3d509c;
  border-radius: 80px 0px 80px 0px;
  color: #fff;
  background-color: rgba(0,0,5,0.8);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 68px 28px;
  box-shadow: 0 0 2px 2px black;
}

.logon-img {
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 112px;
}

.logon-container h1 {
  margin: 0;
  padding: 0;
  padding-left: 0;
  padding-bottom: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #fff;
}

/* .form-logon p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
} */

/* .form-logon input {
  width: 100%;
  margin-bottom: 21px;
} */

/* .form-logon input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
} */

.form-logon input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.form-logon .dados-logon {
  position: relative;
}


.form-logon label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  pointer-events: none;
  transition: 0.3s;
  font-weight: bold;
}

.form-logon .dados-logon input:focus~label,
.form-logon .dados-logon input:valid~label {
  top: -20px;
  left: 0;
  color: #c5c5b9;
  font-size: 12px;
}

.btn-login {
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  font-size: 15px;
  color: #000;
  background: #fff;
  border-radius: 5px;
  transition: 0.2s;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 2px;
}

.btn-login:hover {
  cursor: pointer;
  background: #56bde6;
  transition: 0.2s;
}

.empresa {
  margin: 0;
  padding: 0;
  padding-left: 0;
  padding-top: 45px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}